body {
  padding: 0;
  margin: 10px;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  line-height: 20px;
  color: rgb(20, 20, 20);
  background-color: lightyellow;
}
.legend i {
  width: 20px;
  height: 20px;
  float: right;
  margin-left: 10px;
  opacity: 0.8;
}
